@charset "utf-8";

html {
	height: 100%;
    margin:0;
    padding:0;
}

body {
	background-color:#C63D0F;
	margin:0;
	min-height:100%;
}

#header {
	width:100%;
	font-size: 40px;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

#header table {
	width:100%;
}

#header h1 {
	text-align:left;
	font-family: 'Baloo Tamma', cursive;
	color:#DFE2DB;
}

#nav_bar table{
	align-content:center;
	width:100%;
	text-align:center;
	font-size:40px;
	font-family: 'Bungee', cursive;
	margin:0;
	background-color:#DFE2DB;
	border-color:#3B3738;
	
}

#nav_bar a {
	text-decoration:none;
	COLOR:#000000;
	margin:10px;
	display:block;
}

#nav_bar a:hover {
	font-weight:bold;
	color:#C63D0F;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

#history {
	background-image:url(../images/we-re-rabbits-1439192-1279x850.jpg);
	background-size:cover;
}

#history a {
	color:#C63D0F;
	text-decoration:none;
}

#history a:hover {
	font-weight:bold;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

#test {
	width:30%;
	background-color:#DFE2DB;
	padding:20px;
	border-bottom-right-radius:25px;
	border-top-right-radius:25px;
}

#test h3 {
	text-align:center;
	font-size:35px;
}

.about {
	text-align:center;
	font-family: 'Tillana', cursive;
}

.announce img {
	height:300px;
	width:300px;
	border-radius:200px;
	margin-left:auto;
	margin-right:auto;
}

.announce table {
	width:100%;
}


.content {
	height:100%;
	width:100%;
}

.content h2{
	color:#000000;
	font-size:40px;
	text-align:center;
	font-weight:bold;
	margin-top:0;
}

.content h2 span {
	font-size:50px;
	font-weight:bold;
}

.content p {
	font-size:24px;
	font-family: 'Arvo', serif;
	
}

#home {
	background:linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),url(../images/book-fair-678264_1280.jpg);
  	height:100%;
	width:100%;
	background-size:cover;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
}

#home h2 {
	color:#FFFFFF;
	padding-top:50%;
	padding-bottom:50%;
	width:100%;
}

#home h2 span {
	background: rgb(0, 0, 0);
   	background: rgba(0, 0, 0, 0.7);
	padding-left:35.85%;
	padding-right:35.85%;
	padding-top:2.5%;
	padding-bottom:2.5%;
}

.contact {
	background-color:#3B3738;
	border-radius:25px;
	margin:0 auto;
	width:30%;
	padding:20px;
	color:#DFE2DB;
}

.contact h3 {
	font-size:30px;
}

.contact h3 span {
	font-weight:bold;
	color:#C63D0F;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;	
}

.contact a {
	color:#C63D0F;
	text-decoration:none;
}

.contact a:hover {
	font-weight:bold;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

.announce {
	background-color:#3B3738;
	border-radius:25px;
	margin-top:10px;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	width:45%;
	padding:20px;
	color:#DFE2DB;
}

.announce h3 {
	font-size:40px;
	font-weight:bold;
	color:#C63D0F;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
	text-align:center;
}

.announce h3 span {
	font-size:50px;
}

.img1 {
	border-radius:100px;
}

#costume img {
	height:300px;
	width:300px;
	border-radius:200px;
	margin-left:auto;
	margin-right:auto;
}

#costume table {
	width:100%;
}

#costume table td {
	text-align:center;
}

#costume h2 {
	width:70%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#costume h3 {
	font-size:40px;
	font-weight:bold;
	color:#C63D0F;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black
}

#costume h3 span {
	font-size:50px;	
}

#first table, #second table, #third table {
	width:100%;
	color:#DFE2DB;
	text-align:center;
	margin-left:auto;
	margin-right:70%;
	padding:0;
	border-radius:10px;
}

#first, #second, #third {
	position:relative;
}

.wrapper {
	background-color:#3B3738;
	border-radius:30px;
	margin:0 auto;
	width:50%;
	padding:20px;
	text-align:center;
}

.content h4 {
	font-size:24px;
	font-weight:bold;
	color:#000000;
}

.content h4 span {
	font-size:30px;
}

#footer{
	position:relative;
	bottom:0;
	background-color:#000000;
	width:100%;
}

#footer p {
	text-align:center;
	font-size:30px;
	color:#FFFFFF;
	padding:0;
	margin:0;
}

#footer a {
	color:#3B3738;
	text-decoration:none;
}

#footer a:hover {
	font-weight:bold;
	color:#C63D0F;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}